*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
  padding: 0;
}

img,
picture {
max-width: 100%;
display: block;
}

body {
    width: 100%;
    min-height: 100vh;
    text-rendering: optimizeSpeed;
    line-height: 1.5;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: hsl(212, 45%, 89%);
    font-family: 'Lucida Sans', sans-serif;
}

.main {
    max-width: 20rem;
    margin: 2rem;
}

.card {
    background-color: hsl(0, 0%, 100%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
}


.img {
    object-fit: cover;
    border-radius: 20px;
    display: block;
    max-width: 100%;
    padding: 1rem;
    border-radius: 30px;
}

.bottom {
    display: flex;
    flex-direction: column;
    row-gap: 25px;
    padding: 25px;
    text-align: center;
   
    padding-bottom: 1rem;
}

h1 {
    font-weight: bolder;
    font-size: 1.2em;
}

p {
    font-weight: bold;
    font-size: 0.92em;
    color: hsl(220, 15%, 55%);
}